<div class="py-5">
        <div class="container">
            <img style="display: block; margin: 0 auto; max-width: 800px;"
                src="https://cdn-01.media-brady.com/store/stus/media/catalog/product/cache/4/image/85e4522595efc69f496374d01ef2bf13/1544627179/r/e/reflective-warning-signs-road-closed-ac0583-lg.jpg" />
            <h1 style="width: 100%; text-align: center; font-weight: bold;">404</h1>
            <h2 style="width: 100%; text-align: center; text-decoration: underline;">NOT FOUND</h2>
        </div>
    </div>