<table class="expenses-info">
            <thead>
                <tr>
                    <th colspan="2">Expenses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Total Amount:</td>
                    <td>{{totalExpenses}} BGN</td>
                </tr>
                <tr>
                    <td>Total Merches</td>
                    <td>{{totalExpensesCount}}</td>
                </tr>
            </tbody>
        </table>

        <div class="current-amount">
            <p>Available amount: <span>{{availableAmount}} BGN</span></p>
        </div>